<div class="container">
  <!-- section title -->
  <h2 class="section-title wow fadeInUp">Experience</h2>

  <div class="spacer-60"></div>

  <div class="row">
    <div class="col-md-6">
      <!-- timeline wrapper for Education -->
      <div class="timeline edu rounded bg-white shadow-dark padding-30 overflow-hidden">
        <!-- timeline item -->
        <div class="timeline-container wow fadeInUp">
          <div class="content">
            <span class="time">2012 - 2014</span>
            <h3 class="title">Master's Degree - Computer Science</h3>
            <p>University of Khartoum, Sudan.</p>
          </div>
        </div>

        <div class="timeline-container wow fadeInUp" data-wow-delay="0.2s">
          <div class="content">
            <span class="time">2005 - 2009</span>
            <h3 class="title">Bachelor's Degree - Computer Science</h3>
            <p>Sudan University of Science and Technology, Sudan.</p>
          </div>
        </div>

        <span class="line"></span>
      </div>
    </div>

    <div class="col-md-6">
      <!-- responsive spacer -->
      <div class="spacer-30 d-md-none d-lg-none"></div>

      <!-- timeline wrapper for Work Experience -->
      <div class="timeline exp bg-white shadow-dark rounded padding-30 overflow-hidden">
        <div class="timeline-container wow fadeInUp">
          <div class="content">
            <span class="time">2023 - 2024</span>
            <h3 class="title">Lead Software Engineer</h3>
            <p>Othaim Holding Company, Riyadh, Saudi Arabia.<br>Led scalable microservices architecture projects and mentored cross-functional teams.</p>
          </div>
        </div>

        <div class="timeline-container wow fadeInUp" data-wow-delay="0.2s">
          <div class="content">
            <span class="time">2022 - 2023</span>
            <h3 class="title">Back End Developer</h3>
            <p>Smart Links Technology (Saudi National Bank Project), Riyadh, Saudi Arabia.<br>Developed Spring Boot/Kafka microservices and enhanced API performance.</p>
          </div>
        </div>

        <div class="timeline-container wow fadeInUp" data-wow-delay="0.4s">
          <div class="content">
            <span class="time">2019 - 2022</span>
            <h3 class="title">Back End Developer</h3>
            <p>Taibah University, Al Madinah, Saudi Arabia.<br>Automated workflows, built cloud-native apps with AWS Lambda and Spring Boot.</p>
          </div>
        </div>

        <div class="timeline-container wow fadeInUp" data-wow-delay="0.6s">
          <div class="content">
            <span class="time">2017 - 2019</span>
            <h3 class="title">System Analyst</h3>
            <p>Electronic Banking Services Co. Ltd. (EBS), Khartoum, Sudan.<br>Optimized banking systems with microservices and Docker.</p>
          </div>
        </div>

        <div class="timeline-container wow fadeInUp" data-wow-delay="0.8s">
          <div class="content">
            <span class="time">2013 - 2017</span>
            <h3 class="title">Senior Web Application Developer</h3>
            <p>Khartoum Centre Technology Research, Sudan.<br>Developed a baggage tracking system and accelerated software releases with Docker and Maven.</p>
          </div>
        </div>

        <div class="timeline-container wow fadeInUp" data-wow-delay="1s">
          <div class="content">
            <span class="time">2009 - 2012</span>
            <h3 class="title">Junior Java Developer</h3>
            <p>Sudan University of Science and Technology, Sudan.<br>Contributed to R&D projects, unit testing, and strategic technology research.</p>
          </div>
        </div>

        <span class="line"></span>
      </div>
    </div>
  </div>
</div>
